<!-- チャットページのモーダル -->

<div id="modal_chatpage_fixedphrases" class="modal" style="display: none">
  <div class="modal_content">
    <div class="modal_content_header">
      <span class="modal_content_header_title">ていけいぶん</span>
      <span
        class="modal_content_header_close"
        data-modal="modal_chatpage_fixedphrases"
        >&times;</span
      >
    </div>
    <div class="modal_content_body">
      <div class="modal_content_body_box">
        {% for fixed_phrase in fixed_phrase %}
        <span class="modal_content_body_box_fixedphrase">{{ fixed_phrase.phrase }}</span>
      <button class="modal_content_body_insert">使用する</button>
    </div>
  </div>
</div>

<!-- 設定画面のモーダル -->
