<!-- チャットページのモーダル -->

<div id="modal_chatpage_fixedphrases" class="modal" style="display: none">
  <div class="modal_content">
    <div class="modal_content_header">
      <span class="modal_content_header_title">ていけいぶん</span>
      <span
        class="modal_content_header_close"
        data-modal="modal_chatpage_fixedphrases"
        >&times;</span
      >
    </div>
    <div class="modal_content_body">
      <div class="modal_content_body_box">
        {% for fixed_phrase in fixed_phrases %}
        <span class="modal_content_body_box_fixedphrase">{{ fixed_phrase.phrase }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div id="modal_friendAdd" class="modal" style="display: none">
  <div class="modal_content">
    <div class="modal_content_header">
      <span class="modal_content_header_title">めんばーついか</span>
      <span class="modal_content_header_close" data-modal="modal_friendAdd"
        >&times;</span
      >
    </div>
    <div class="modal_content_body">
      <span>ともだちのID</span>
      <form action="" method="POST">
        <input name="member_id" type="text" placeholder="IDを入力してね" />
        <button type="submit" id="search">ついか</button>
      </form>
    </div>
  </div>
</div>


<div id="modal_channel_edit" class="modal" style="display: none">
  <div class="modal_content">
    <div class="modal_content_header">
      <span class="modal_content_header_title">ちゃんねるをへんしゅう</span>
      <span
        class="modal_content_header_close"
        data-modal="modal_channel_edit"
        >&times;</span
      >
    </div>
    <div class="modal_content_body">
      <form action="" method="POST">
        <span class="channel_name">ちゃんねるのなまえ</span>
        <input class="channel_name_input" type="text" name="channel_name" value="{{ channel.name }}" placeholder="ちゃんねるめいをにゅうりょく" >
        <span class="channel_discription">ちゃんねるのせつめい</span>
        <input class="channel_discription_input" type="text" name="channel_description" value="{{ channel.description }}" placeholder="ちゃんねるのせつめいをにゅうりょく">
        <button type="submit" class="channnel_edit_button">へんしゅう！</button>
      </form>
    </div>
  </div>
</div>

<!-- 設定画面のモーダル -->
