<!-- ホームのモーダル -->
<div id="modal_friendAdd" class="modal" style="display: none">
  <div class="modal_content">
    <div class="modal_content_header">
      <span class="modal_content_header_title">ともだちついか</span>
      <span class="modal_content_header_close" data-modal="modal_friendAdd"
        >&times;</span
      >
    </div>
    <div class="modal_content_body">
      <span>ともだちのID</span>
      <form action="" method="POST">
        <input name="friend_id" type="text" placeholder="IDを入力してね" />
        <button type="submit" id="search" >ついか</button>
      </form>
    </div>
  </div>
</div>

<div id="modal_friend" class="modal" style="display: none">
  <div class="modal_content friend">
    <div class="modal_content_header">
      <span class="modal_content_header_title"></span>
      <span class="modal_content_header_close" data-modal="modal_friend"
        >&times;</span
      >
    </div>
    <div class="modal_content_body">
      <div class="modal_content_body_photo"></div>
      <div class="modal_content_body_name">
        <span id="fname"></span>
      </div>
      <div class="modal_content_body_onephrase">
        <span id="fphrase"></span>
      </div>
    </div>
  </div>
</div>

<div id="modal_home_channels_add" class="modal" style="display: none">
  <div class="modal_content">
    <div class="modal_content_header">
      <span class="modal_content_header_title">ちゃんねるをついか</span>
      <span
        class="modal_content_header_close"
        data-modal="modal_home_channels_add"
        >&times;</span
      >
    </div>
    <div class="modal_content_body">
      <form action="" method="POST">
        <span class="channel_name">ちゃんねるのなまえ</span>
        <input class="channel_name_input" type="text" name="channel_name" placeholder="ちゃんねるめいをにゅうりょく" >
        <span class="channel_discription">ちゃんねるのせつめい</span>
        <input class="channel_discription_input" type="text" name="channel_description" placeholder="ちゃんねるのせつめいをにゅうりょく">
        <button type="submit" class="channnel_add_button">さくせい！</button>
      </form>
    </div>
  </div>
</div>


