{% extends 'base.html' %} {% block title %}
<title>チャット画面</title>
{% endblock %} {% block body %}
<header>
  <div class="home_header">
    <h1>ぐーたらちゃっと</h1>
    <div class="home_header_nav-box">
      <div id="header_home" class="home_header_nav-box_icons">
        <span class="material-symbols-outlined"> cottage</span>
        <a href="/home">ほーむ</a>
      </div>
      <div id="header_setting" class="home_header_nav-box_icons">
        <span class="material-symbols-outlined"> settings</span>
        <a href="/setting">せってぃんぐ</a>
      </div>
      <div id="header_signout" class="home_header_nav-box_icons">
        <span class="material-symbols-outlined"> logout</span>
        <a href="/login">さいんあうと</a>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <div class="_leftside">
    <h2>ともだち</h2>
    <span id="friendAdd" class="material-symbols-outlined"> add_circle </span>
    <div class="friends-container">
      <div id="friends-scrollcontainer">
        <ul>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
        </ul>
      </div>
      <div class="scroll-icon">
        <span id="upicon">↑</span>
        <span id="downicon">↓</span>
      </div>
    </div>
  </div>
  <div class="chat_rightside">
    <div class="chat_name">
      <span>ゆうと</span>
    </div>
    <div class="chat_container">
      <div id="messagearea" class="chat_container_scroll">
        <div class="chat_container_friends_text">
          <span>明日は、とても忙しいから覚悟しておいてね！</span>
        </div>
        <div class="chat_container_my_text">
          <span>そんなばかな</span>
        </div>
        <div class="chat_container_friends_text">
          <span>そんなことがあり得るんですよ</span>
        </div>
        <div class="chat_container_my_text">
          <span>仕方ないな</span>
        </div>
        <div class="chat_container_friends_text">
          <span>お前明日までっていただろ</span>
        </div>
        <div class="chat_container_my_text">
          <span>そんなの聞いてないですよ</span>
        </div>
        <div class="chat_container_friends_text">
          <span>聞いてないとは言わせないぞ！</span>
        </div>
        <div class="chat_container_my_text">
          <span>お前がやれや！！！！！ </span>
        </div>
      </div>
      <div class="chat_container_textform">
        <form action="" method="POST">
          <div>
            <input type="text" />
            <span id="chatpage_fixedphrases" class="material-symbols-outlined">description</span>
          </div>
          <button class="material-symbols-outlined">send</button>
        </form>
      </div>
    </div>
  </div>
</main>

<!-- modal.htmlの読み込み -->
{% include 'modal.html' %}
<script src="{{ url_for('static', filename='/js/chatpage.js') }}"></script>

{% endblock %}
