{% extends 'base.html' %} {% block title %}
<title>ホーム画面</title>
{% endblock %} {% block body %}
<header>
  <div class="home_header">
    <h1>ぐーたらちゃっと</h1>
    <div class="home_header_nav-box">
      <div id="header_home" class="home_header_nav-box_icons">
        <span class="material-symbols-outlined"> cottage</span>
        <a href="">ほーむ</a>
      </div>
      <div id="header_setting" class="home_header_nav-box_icons">
        <span class="material-symbols-outlined"> settings</span>
        <a href="">せってぃんぐ</a>
      </div>
      <div id="header_signout" class="home_header_nav-box_icons">
        <span class="material-symbols-outlined"> logout</span>
        <a href="">さいんあうと</a>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <div class="_leftside">
    <h2>ともだち</h2>
    <span id="friendAdd" class="material-symbols-outlined">
      add_circle
    </span>
    <div class="friends-container">
      <div id="friends-scrollcontainer">
        <ul>
          <li id="friend-modal" class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
          <li class="list">dddd</li>
          <li class="list">wwww</li>
          <li class="list">aaaa</li>
          <li class="list">rrrr</li>
        </ul>
      </div>
      <div class="scroll-icon">
        <span id="upicon">↑</span>
        <span id="downicon">↓</span>
      </div>
    </div>
  </div>
  <div class="_rightside">
    <div class="_proile">
      <span class="profile_photo"></span>
      <h2>名前</h2>
      <span class="onephrase">ひとこと・・・・・・・・・・・・・・</span>
    </div>
    <div class="_channels">
      <h2>ちゃんねる</h2>
      <div id="channel-boxes">
        <div class="_channels-var">
          <span class="channel-name">1.......</span>
          <span class="channel-member-title">めんばー</span>
          <div class="channel-members">
            <span>aaaa</span>
            <span>gggg</span>
            <span>cccc</span>
            <span>aaaa</span>
            <span>gggg</span>
            <span>cccc</span>
          </div>
        </div>
        <div class="_channels-var">
          <span class="channel-name">2.......</span>
          <span class="channel-member-title">めんばー</span>
          <div class="channel-members">
            <span>aaaa</span>
            <span>gggg</span>
            <span>cccc</span>
          </div>
        </div>
        <div class="_channels-var">
          <span class="channel-name">3.......</span>
          <span class="channel-member-title">めんばー</span>
          <div class="channel-members">
            <span>aaaa</span>
            <span>gggg</span>
            <span>cccc</span>
          </div>
        </div>
        <div class="_channels-var">
          <span class="channel-name">4.......</span>
          <span class="channel-member-title">めんばー</span>
          <div class="channel-members">
            <span>aaaa</span>
            <span>gggg</span>
            <span>cccc</span>
          </div>
        </div>
        <div class="_channels-var">
          <span class="channel-name">5.......</span>
          <span class="channel-member-title">めんばー</span>
          <div class="channel-members">
            <span>aaaa</span>
            <span>gggg</span>
            <span>cccc</span>
          </div>
        </div>
      </div>
      <div class="channels-scrollicon">
        <span id="lefticon">←</span>
        <span id="righticon">→</span>
      </div>
      <span class="material-symbols-outlined"> edit_square </span>
    </div>
  </div>
</main>


<!-- モーダル↓ -->
<!-- <div id="modal_friadd" class="modal" style="display: none">
  <div class="modal_content">
    <div class="modal_content_header">
      <span class="modal_content_header_close" data-modal="modal_friadd"
        >&times;</span>
      <span class="modal_content_header_title">ともだちついか</span>
    </div>
    <div class="modal_content_body">
      <p>フレンド追加モーダル</p>
      <div></div>
    </div>
  </div>
</div>

<div id="modal_friend" class="modal" style="display: none">
  <div class="modal_content">
    <div class="modal_content_header">
      <span class="modal_content_header_close" data-modal="modal_friend"
        >&times;</span>
      <span class="modal_content_header_title">ともだちだよ</span>
    </div>
    <div class="modal_content_body">
      <p>フレンド表示</p>
      <div></div>
    </div>
  </div>
</div> -->

{% include 'modal.html' %}
<script src="{{ url_for('static', filename='/js/home.js') }}"></script>

{% endblock %}
