@charset "UTF-8";
.chat_rightside {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  font-family: kiwi maru;
  overflow: hidden;
  color: black;
}
.chat_name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7%;
  border-bottom: 1px solid black;
  background-color: rgba(128, 128, 128, 0.21);
  font-size: 30px;
}
.chat_name span {
  animation-name: fuwatto;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.chat_container {
  height: 93%;
  background-color: rgba(128, 128, 128, 0.21);
  display: flex;
  flex-direction: column;
}
.chat_container_scroll {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-y: scroll;
  padding-bottom: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.chat_container_scroll > * {
  animation-name: fuwatto;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.chat_container_friends_text {
  flex: none;
  align-self: flex-start;
  width: auto;
  height: auto;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.chat_container_friends_text span:nth-child(1) {
  display: block;
  margin-bottom: 5px;
}
.chat_container_friends_text span:nth-child(2) {
  margin-left: 30px;
  padding: 0 20px;
  border: 1px solid black;
  background-color: #bdbdbd;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 2px black;
}
.chat_container_my_text {
  flex: none;
  align-self: flex-end;
  width: auto;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* .chat_container_my_text span:nth-child(1) {
  display: block;
  margin-bottom: 5px;
} */
.chat_container_my_text span {
  margin-left: 30px;
  padding: 0 20px;
  border: 1px solid black;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 2px black;
}
.chat_container_textform {
  margin: 10px 30px;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chat_container_textform > * {
  animation-name: fuwatto;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.chat_container_textform form {
  display: flex;
}
.chat_container_textform form div {
  position: relative;
}
.chat_container_textform form div input {
  flex: none;
  height: 100%;
  width: 1000px;
  background-color: lightgray;
  border: 0.5px solid gray;
  border-radius: 10px;
  font-size: 25px;
}
.chat_container_textform form div span.material-symbols-outlined {
  position: absolute;
  display: inline-block;
  right: 10px;
  bottom: 5px;
  font-size: 2.5rem;
  z-index: 20;
  cursor: pointer;
}
.chat_container_textform form a {
  align-self: flex-end;
}
.chat_container_textform form a button {
  font-size: 50px;
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}

#modal_chatpage_fixedphrases .modal_content {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10% auto;
  border-radius: 20px;
  width: 80%;
  height: auto;
  animation-name: fuwatto;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
#modal_chatpage_fixedphrases .modal_content_header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: auto;
}
#modal_chatpage_fixedphrases .modal_content_header_title {
  margin-left: 40%;
  color: rgb(255, 212, 98);
  font-size: 35px;
}
#modal_chatpage_fixedphrases .modal_content_header_close {
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
  color: rgb(255, 212, 98);
  align-self: flex-start;
}
#modal_chatpage_fixedphrases .modal_content_header_close:hover, #modal_chatpage_fixedphrases .modal_content_header_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#modal_chatpage_fixedphrases .modal_content_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 0;
}
#modal_chatpage_fixedphrases .modal_content_body_box {
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal_chatpage_fixedphrases .modal_content_body_box_fixedphrase {
  margin: 10px 40px;
}

.modal {
  display: none; /* 最初は非表示 */
  position: fixed; /* 画面に固定 */
  z-index: 1; /* 内容より前面に */
  left: 0;
  top: 0;
  width: 100%; /* 全幅 */
  height: 100%; /* 全高 */
  overflow: hidden; /* スクロール可能 */
  background-color: rgba(0, 0, 0, 0.4); /* 背景の暗転 */
  color: rgb(255, 212, 98);
  font-family: kiwi maru;
}
.modal_content {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 15% auto;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  animation-name: fuwatto;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.modal_content_header {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.modal_content_header_title {
  margin-left: 40%;
  color: rgb(255, 212, 98);
  justify-self: flex-start;
  font-size: 35px;
}
.modal_content_header_close {
  align-self: flex-start;
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
  color: rgb(255, 212, 98);
  transition: all 0.2s;
}
.modal_content_header_close:hover, .modal_content_header_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal_content_body {
  height: auto;
  width: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_content_body span {
  font-size: 30px;
  margin-bottom: 10px;
}
.modal_content_body form {
  margin-bottom: 30px;
}
.modal_content_body form input, .modal_content_body form button {
  display: block;
}
.modal_content_body form input {
  font-size: 30px;
  border: 1px solid rgb(255, 212, 98);
  width: 600px;
}
.modal_content_body form button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 60px;
  font-size: 25px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  background-color: rgb(255, 212, 98);
  font-family: kiwi maru;
}/*# sourceMappingURL=chatpage.css.map */