@charset "UTF-8";
.home_header {
  width: 1440;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_header h1 {
  font-size: 50px;
  margin-left: 70px;
  font-family: hachi maru pop;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  animation-name: apploaded;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(1, 1.67, 0.58, 1);
}
.home_header_nav-box {
  display: flex;
  font-size: 25px;
  margin-right: 90px;
  font-family: kiwi maru;
}
.home_header_nav-box_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  animation-name: downicon;
  animation-duration: 1.2s;
  transform: translateY(-150px);
  animation-fill-mode: forwards;
  font-size: 25px;
  cursor: pointer;
}
@keyframes downicon {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home_header_nav-box_icons:nth-child(1) {
  animation-delay: 0s;
  margin-right: 90px;
}
.home_header_nav-box_icons:nth-child(2) {
  animation-delay: 0.1s;
  margin-right: 90px;
}
.home_header_nav-box_icons:nth-child(3) {
  animation-delay: 0.2s;
}
.home_header_nav-box_icons span {
  font-size: 2.5rem;
}
.home_header_nav-box_icons a {
  text-decoration: none;
  color: black;
}

.main {
  width: 100%;
  height: 85vh;
  display: flex;
  color: black;
}
.main ._leftside {
  height: 100%;
  width: 230px;
  border: 1px solid black;
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgba(128, 128, 128, 0.21);
  font-family: kiwi maru;
}
.main ._leftside h2 {
  margin: 10px 0 5px 0;
}
.main ._leftside .material-symbols-outlined {
  font-size: 1rem;
  margin-left: 100px;
  cursor: pointer;
  transition: all 0.2s;
}
.main ._leftside .material-symbols-outlined:hover, .main ._leftside .material-symbols-outlined:active {
  transform: scale(1.6);
}
.main ._leftside .friends-container {
  display: flex;
  flex-direction: row;
  height: 80%;
}
.main ._leftside .friends-container #friends-scrollcontainer {
  margin-top: 25px;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.main ._leftside .friends-container #friends-scrollcontainer .list {
  margin-right: 5px;
  list-style: none;
  font-size: 20px;
  font-style: normal;
  transition: background-size 0.6s, transform 0.6s, font-weight 2s;
  margin-bottom: 15px;
  transform: translateX(-20px);
  cursor: pointer;
}
.main ._leftside .friends-container #friends-scrollcontainer .list:hover {
  transform: scale(1.1);
}
.main ._leftside .friends-container .scroll-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  transform: translateX(10px);
}
.main ._leftside .friends-container .scroll-icon #upicon {
  cursor: pointer;
  font-size: 1.5rem;
  color: grey;
  transition: all 0.4s;
}
.main ._leftside .friends-container .scroll-icon #upicon:hover {
  color: black;
}
.main ._leftside .friends-container .scroll-icon #downicon {
  cursor: pointer;
  font-size: 1.5rem;
  color: grey;
  transition: all 0.4s;
}
.main ._leftside .friends-container .scroll-icon #downicon:hover {
  color: black;
}
.main ._rightside {
  width: 100%;
  height: 100%;
  opacity: 1;
  font-family: kiwi maru;
}
@keyframes fuwatto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main ._rightside ._proile {
  background-color: rgba(128, 128, 128, 0.21);
  border: 1px solid black;
  border-bottom: none;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.8s;
}
.main ._rightside ._proile > * {
  animation-name: fuwatto;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.main ._rightside ._proile .profile_photo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: lightgray;
}
.main ._rightside ._proile h2 {
  font-size: 40px;
  padding-top: 5px;
}
.main ._rightside ._proile .onephrase {
  margin-left: 300px;
  padding-top: 10px;
  font-size: 25px;
}
.main ._rightside ._channels {
  background-color: rgba(128, 128, 128, 0.21);
  border: 1px solid black;
  height: 80%;
  overflow: hidden;
}
.main ._rightside ._channels > * {
  animation-name: fuwatto;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.main ._rightside ._channels h2 {
  margin: 10px 0 0 30px;
  font-size: 30px;
}
.main ._rightside ._channels #channel-boxes {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 40px;
  height: 350px;
  font-size: 20px;
  width: 1200px;
  padding: 20px;
  overflow-x: scroll;
}
.main ._rightside ._channels #channel-boxes ._channels-var {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px !important;
  background-color: lightgray;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 1px 5px black;
}
.main ._rightside ._channels #channel-boxes ._channels-var:hover, .main ._rightside ._channels #channel-boxes ._channels-var:active {
  transform: scaleY(1.05);
}
.main ._rightside ._channels #channel-boxes ._channels-var .channel-name {
  font-size: 40px;
  margin-bottom: 30px;
}
.main ._rightside ._channels #channel-boxes ._channels-var .channel-member-title {
  align-self: flex-start;
  margin-left: 20px;
  font-size: 25px;
}
.main ._rightside ._channels #channel-boxes ._channels-var .channel-members {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}
.main ._rightside ._channels #channel-boxes ._channels-var .channel-members span {
  font-size: 20px;
  flex: none;
  margin-top: 15px;
}
.main ._rightside ._channels .channels-scrollicon {
  margin: 10px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main ._rightside ._channels .channels-scrollicon #lefticon {
  color: grey;
  font-size: 1.5rem;
  transition: all 0.4s;
  cursor: pointer;
}
.main ._rightside ._channels .channels-scrollicon #lefticon:hover {
  color: black;
}
.main ._rightside ._channels .channels-scrollicon #righticon {
  color: grey;
  font-size: 1.5rem;
  transition: all 0.4s;
  cursor: pointer;
}
.main ._rightside ._channels .channels-scrollicon #righticon:hover {
  color: black;
}
.main ._rightside ._channels .material-symbols-outlined {
  display: block;
}

.modal {
  display: none; /* 最初は非表示 */
  position: fixed; /* 画面に固定 */
  z-index: 1; /* 内容より前面に */
  left: 0;
  top: 0;
  width: 100%; /* 全幅 */
  height: 100%; /* 全高 */
  overflow: auto; /* スクロール可能 */
  background-color: rgba(0, 0, 0, 0.4); /* 背景の暗転 */
}
.modal_content {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 5% auto;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  animation-name: fuwatto;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.modal_content_header {
  margin: 5px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.modal_content_header_title {
  color: rgb(255, 212, 98);
  justify-self: flex-start;
  font-size: 40px;
}
.modal_content_header_close {
  align-self: flex-end;
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
  color: rgb(255, 212, 98);
}
.modal_content_header_close:hover, .modal_content_header_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal_content_body {
  height: 300px;
  width: 400px;
  background-color: yellow;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=home.css.map */